<!DOCTYPE html>
<html lang="en">
  <head>
    {{> header}}
  </head>
  <body class="landing-page-image center-image overlay">
    <div class="main-content  ">

        {{> navbar}}

      <div class="landing-page-text">
        <h1 class="landing-page-text-title">Welcome</h1>
        <p class="landing-page-text-blurb">
          Welcome to the Dance Institute, where passion, creativity, and movement
          come to life! We are a vibrant community of dancers, educators, and
          performers dedicated to inspiring individuals of all ages and skill
          levels. Whether you're looking to dance for fun, improve your
          technique, or pursue a professional career, we have the classes and
          expertise to help you achieve your goals.
        </p>
      </div>
    </div>
  </body>
  {{> footer}}
</html>
