<div class="course">
  <div class="card-body">
    <img class="location-image" alt="{{name}} image" src="{{imagePath}}" />
    <p class="location-name">{{name}}</p>
    <div class="course-card">
      <div class="course-card-section">
        <p>{{description}}</p>
        <div class="contact-section">
          <p>Email: {{email}}</p>
          <p>Tel: {{telephone}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
