<!DOCTYPE html>
<html lang="en">
  <head>
    {{> header}}
    <link rel="stylesheet" href="../../css/styles.css" />
  </head>
  <body class="other-page-image overlay">
    <div class="main-content">
      {{> navbar}}

      <div class="course-info-section">
        {{#course}}
        <div class="course">
        Successfully deleted {{name}}. 
        <a href="/courses">return to courses<a>

        </div>
        
        {{/course}}
      </div>
    </div>
  </body>
  {{> footer}}
</html>
