<form method="POST" action="/course/{{& _id}}" class="form">
  {{> courseInputs}}

  <div class="btn-section">
    <input type="submit" value="Delete" class="btn login-btn" name="action" />
    <input type="submit" value="Update" class="btn login-btn" name="action" />
  </div>
</form>
